body{
    background-color: #00203FFF;
}     .topnav {
  overflow: hidden;
  background-color: none;
}

.topnav a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  margin-top: 25px;
  margin-left: 25px;
  border-top-left-radius : 15px;
  border-bottom-right-radius: 15px;
  border-color: rgb(0, 247, 255);
}

.topnav a:hover {
  background-color: black;
  color: rgb(0, 247, 255);
}

.topnav a.active {
  background-color: black;
  color: rgb(0, 247, 255);
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
  .topnav{
    background-color: #000;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
.mastcont{
    margin-top: 15vh;
    margin-left: 7vw;
    margin-right: 2vw;
}
.container{
    transition: 0.5s;
    position: relative;
    opacity: 70%; 
    width: auto;
    height: auto;
}
.container:hover{
    transform: scale(1.1);
    box-shadow: 5px 10px 5px red;
    opacity: 100%;
}
  @media screen and (max-width: 600px) {
    .col {
      width: 70%;
      display: block;
      margin-bottom: 20px;
      margin-left: 13vw;
    }
   
    .header.h1{
      font-size: 10px;
    }
  }
.btn {
 padding: 0.9em 1.6em;
 border: none;
 outline: none;
 color: #FFF;
 font-family: inherit;
 font-weight: 500;
 font-size: 17px;
 cursor: pointer;
 position: relative;
 z-index: 0;
 border-radius: 12px;
}

.btn::after {
 content: "";
 z-index: -1;
 position: absolute;
 width: 100%;
 height: 100%;
 background-color: rgb(46, 46, 46);
 left: 0;
 top: 0;
 border-radius: 10px;
}
.btn::before {
 content: "";
 background: linear-gradient(
    45deg,
    #FF0000, #002BFF, #FF00C8, #002BFF,
      #FF0000, #002BFF, #FF00C8, #002BFF
);
 position: absolute;
 top: -2px;
 left: -2px;
 background-size: 600%;
 z-index: -1;
 width: calc(100% + 4px);
 height: calc(100% + 4px);
 filter: blur(8px);
 animation: glowing 20s linear infinite;
 transition: opacity .3s ease-in-out;
 border-radius: 10px;
 opacity: 0;
}

@keyframes glowing {
 0% {
  background-position: 0 0;
 }

 50% {
  background-position: 400% 0;
 }

 100% {
  background-position: 0 0;
 }
}
.btn:hover::before {
 opacity: 1;
}

.btn:active:after {
 background: transparent;
}

.btn:active {
 color: #000;
 font-weight: bold;
}